.experiencia{
    top: 0;

        .experience-image {
            width: 500px;
            height: 350px;
            border-radius: 5px;
            background-image: url(../../img/experiencia.png);
            background-repeat: no-repeat;
            background-size: cover;
        }
}